<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<ul class="nav navbar-nav navbar-right">
     
      <li><a href="/login/"><span class="glyphicon glyphicon-user"></span> {{ user.username }}</a></li>
      <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
  
    </ul>

   <form action="" method="post"></form>
 
</div>
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <b><a class="navbar-brand" href="">PIZZA MART</a></b>
    </div>
    <ul class="nav navbar-nav">
       <li><a href="/home/">Home</a></li>
      <li><a href="/listuser/">VIEW</a></li>
      <li><a href="/createmenu/">ADD</a></li>
      <li><a href="/listmenu/">UPDATE</a></li>
      <li><a href="/listmenu/">DELETE</a></li>
      
   </ul>
</nav>
 
    <center><h1 style=color:red>Welcome to Admin Page</h1></center>
<body>



<body>
	<form method='post' action='.'>
	{% csrf_token %}
	{{ form.as_p}}
	<button>update</button></form>
</body>
	</html>
	
